<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/bootstrap.min.css" rel="stylesheet"/>
    <title>OAuth 2 Client by Client Credentials Grant Type</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center text-white bg-secondary p-2">
            <h2>OAuth 2 Client by Client Credentials Grant Type</h2>
        </div>
    </div>
    <div th:if="${#httpServletRequest.parameterMap.containsKey('error')}" class="row">
        <div class="col-6 offset-3 col-xl-4 offset-xl-4">
            <div class="alert alert-danger text-center m-2">Invalid username or password</div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2 col-xl-6 offset-xl-3 p-4">
            <div class="row pb-4">
                <div class="col-6 text-center" th:text="${'CLIENT ID: ' + clientId}"></div>
                <div class="col-6 text-center" th:text="${'CLIENT SECRET: ' + clientSecret}"></div>
            </div>
            <div class="row">
                <div class="col-8 offset-2">
                    <div th:if="${error == null and resource == null}" class="alert alert-secondary text-center m-2">
                        No resources requested.
                    </div>
                    <div th:if="${resource != null}" class="alert alert-success text-center m-2">
                        Requested resource: <b th:text="${resource}"></b>.
                    </div>
                </div>
            </div>
            <form action="/client/client-credentials/resource/public" method="post" class="p">
                <div class="form-group row">
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary">Request public resource</button>
                    </div>
                </div>
            </form>
            <form action="/client/client-credentials/resource/protected" method="post" class="p">
                <div class="form-group row">
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary">Request protected resource</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-12 text-center text-muted small">OAuth 2 Demo 2018 Mariusz Kopylec</div>
    </div>
</div>

</body>
</html>